<header id="main-header">
  <nav class="left">
    <a href="/upload" class="left"><image src="upload.png" width="50" height="50"></image></a>
  </nav>
  <nav class="center">
    <a href="/" class="center"><image src="logo.png" width="90" height="90"></image></a>
  </nav>
  <nav class="right">
    <ul>
      <li><a href="/notice"><image src="notice.png" width="50" height="50"></image></a></li>
      <li>|</li>
      <li><a href="/profile"><image src="profile.png" width="50" height="50"></image></a></li>
    </ul>
  </nav>
</header>
<hr>