</head>
<body>
    <header id="main-header">
        <nav class="left">
          <a href="/upload" class="left"><image src="/upload.png" width="50" height="50"></image></a>
        </nav>
        <nav class="center">
          <a href="/" class="center"><image src="/logo.png" width="90" height="90"></image></a>
        </nav>
        <nav class="right">
          <ul>
            <li><a href="/notice"><image src="/notice.png" width="50" height="50"></image></a></li>
            <li>|</li>
            <li><a href="/profile"><image src="/profile.png" width="50" height="50"></image></a></li>
          </ul>
        </nav>
      </header>
      <hr>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/upload.css">
</head>
<body>
    <!-- Header -->
    <div id="header-container"></div>

    <!-- Main Content -->
    <div class="upload-container">
        <h1>Image Detail</h1>
        <form action="/image/<%= image._id %>/edit" method="POST">
            <div class="upload-form">
                <div class="upload-image">
                    <div id="image-preview-container">
                      <img src="/<%= image.imagePath %>" alt="The image of the user.">
                    </div>
                </div>
                <div class="upload-details">
                        <div class="upload-field">
                            <label for="title">작품명</label>
                            <input type="text" id="title" name="imageName" placeholder="작품명을 입력하세요">
                        </div>
                        <div class="upload-field">
                            <label for="description">작품 설명</label>
                            <textarea id="description" name="imageExplain" placeholder="작품 설명을 입력하세요"></textarea>
                        </div>
                        <div class="upload-field">
                            <label>태그</label>
                        <div class="tags">
                            <input type="text" class="tag-input" id="tagInput" name="imageTag" placeholder="# 태그 추가">
                        </div>
                </div>
                <button class="upload-submit-button">올리기</button>
            </div>
        </form>
</body>
</html>
