<%- include('includes/head.ejs', { title: 'Admin' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
      <ul>
        <% for (const user of users) { %>
          <li class="user-item">
            <article>
              <img src="<%= user.imagePath %>" alt="The image of the user.">
              <h2><%= user.name %></h2>
            </article>
          </li>
        <% } %>
      </ul>
    </section>
  </main>
</body>
</html>