.Header{
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.Header-Warp{
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;;
}

.Header-Warp-Left img{
    margin-top: 20px;
    width: 70%;
}

.Header-Warp-Center img{
    width: 40%;
    margin-left: 130px;
}

.Header-Warp-Right{
    display: flex;
    margin-top: 20px;
}

.Header-Warp-Right-LeftImg img{
    width: 60%;
    border-right: 1px solid gray;
    padding-right: 10px;
}

.Header-Warp-Right-RightImg img{
    width: 60%;
}