/* Login Container */
.login-container {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 50px 20px;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-field{
    margin-top: 20px ;
}

.login-field input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.login-button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px ;

}

.login-button:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}
