/* Signup Container */
.signup-container {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 50px 20px;
}

.signup-container h1 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-field label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.signup-field{
    width: 95%;
}

.signup-field input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.signup-field input:focus {
    border-color: #007bff;
    outline: none;
}

.password-warning {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
    text-align: left;
}

#signup-button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}

#signup-button:enabled {
    opacity: 1;
}

#signup-button:hover:enabled {
    background-color: #0056b3;
}
