/* Upload Container 스타일 */
.upload-container {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

.upload-container h1 {
    margin: 40px 0px;
    font-size: 24px;
    font-weight: bold;
}

.upload-form {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px; /* 왼쪽과 오른쪽 사이 간격 */
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* Left Section: Image Upload */
.upload-image {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* 수직 중앙 정렬 */
    align-items: center;
    border: 1px dashed #ccc;
    border-radius: 10px;
    min-height: 300px; /* 최소 높이 설정 */
    position: relative;
    text-align: center;
}


.upload-label {
    color: #555;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0;  /* margin을 0으로 설정해보세요 */
    padding: 10px 0; /* 필요에 따라 padding 조정 */
    justify-content: center;  /* 수직 중앙 정렬 */
    text-align: center;
    
}

.upload-input {
    display: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

ul > li{
    float:left;
}

#image-preview-container {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: 200px;  /* 미리보기 이미지 영역 높이 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;  /* 드래그 가능한 위치 설정 */
}

/* Right Section: Upload Details */
.upload-details {
    width: 50%; /* 비율 조정 */
}

.upload-field {
    margin-bottom: 15px;
}

.upload-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.upload-field input[type="text"],
.upload-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.upload-field textarea {
    height: 100px;
    resize: none;
}

.tags {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tag-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.tag-add-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.tag-add-button:hover {
    background-color: #0056b3;
}

/* Submit Button */
.upload-submit-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.upload-submit-button:hover {
    background-color: #0056b3;
}

/* 미리보기 이미지 */
#image-preview-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;  /* 이미지 비율 유지하면서 크기 조정 */
}

/* 추가적인 스타일: 드래그 기능 관련 */
#image-preview-container {
    position: relative;
    width: 100%;
    height: 200px;
}

#image-preview {
    display: none;
    object-fit: cover;
    overflow: hidden;
  }
